@charset "utf-8";
/* zySearch */
*{
    padding: 0px;
    margin: 0px;
}
.background{


    /*background-origin:content-box;*/
/*text-align: center;*/
    position: absolute;
    background-size:40%;
}
.zySearch {
    position: relative;
    width: 100%;
    margin: 140px auto 0 auto;
    display: inline-block;
    padding-top: 250px;
    /*background: url("../images/earth.jpg")no-repeat center 0 ;*/
    background-position: top 50px;
    /*background: url("../images/earth.jpg");*/
}

/*.zySearch .search-img {*/
    /*background: url("../images/chicken.gif") no-repeat scroll left top transparent;*/
    /*display: block;*/
    /*height: 0;*/
    /*left: 39%;*/
    /*margin-left: -12px;*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*width: 24px;*/
/*}*/

.zySearch .search-input {
    color: #999;
    border: 1px solid #D0D0D0;
    height:50px;
    line-height: 70px;
    /*margin-right: 5px;*/
    padding: 0 10px;
    width: 30%;
    display: inline-block;
border-radius: 5px;
}

.zySearch .search-btn {
    background: none repeat scroll 0 0 #F04243;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    cursor: pointer;
    height: 50px;
    line-height: 33px;
    padding: 0;
    vertical-align: baseline !important;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    position: relative;
    border-radius: 5px;
}
body{
    background-image: url("../images/earth.jpg");
    background-position-x: 50%;
    background-repeat: no-repeat;
   text-align:center;
    width: 100%;
    height: 100%;

}